.date{
	margin: -1em 0em 2em 0.3em;
	color: slateGray;
	text-align: center;
}

.blogContent{
	margin: 3em -1em 4em -1em;
	background-color: ghostwhite;
	border-radius: 20px;
	border: lightGray solid 1px;
	padding: 1em 2.5em 2.5em 2.5em;
	overflow: hidden;
	
	position: relative;
}

h1{
	color: royalBlue;
	text-align: center;
	padding-top: 0.5em;
}

h2{
	margin-top: 1.5em;
	margin-bottom: 0.5em;
}

p{
	margin-left: 15%;
	margin-right: 15%;
}

ul{
	padding: 0 25pt;
}

ul li{
	font-size: 14pt;
}

.blogContent p{
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-bottom: 1em;
}

.videoWrapper {
    position: relative;
	padding-bottom: 53.9%; /* 16:9 */
	padding-top: 25px;
	margin-bottom: 2em;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.prettyprint {
	margin-bottom: 1.5em;
}

li .prettyprint {
	margin-bottom: 0;
}

.note {
	color: darkgray;
	display: inline;
	font-size: 90%;
}

.blogContent img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	min-width: 300px;
	padding-bottom: 1.5em;
}

.prettyprint span {
	font-family: monospace;
}

.prettyprint {
	font-size: 12pt;
}

.related {
	margin-bottom: 4em;
	display: inline-block;
}

.related .indent {
	display: inline;
}

.related img {
	max-width: 45%;
	min-width: 300px;
}

.related h3 {
	color: royalBlue;	
	margin-bottom: 0.5em;
	display: inline-block;
}

.indent {
	margin-left: 5%;
	display: inline-block;
}

.related a:hover h3{
	color: lightSkyBlue;
}

.related a:link, .related a:hover, .related a:visited, .related a:active{
	text-decoration: none;
}

/* Media Queries */

@media screen and (max-width:1400px){
	
}

@media screen and (max-width:1200px){
	.blogContent{
		padding: 2em 1em;
		margin: 3em -1em 4em -1em;
	}
}

@media screen and (max-width: 800px){
	.blogContent{
		padding: 0.5em;
		
		margin-right: 0;
		margin-left: 0;
	}
}