#content p{
	font-size: 14pt;
	line-height: 1.7em;
}

.blogPreviews a{
	color: black;
}

.blogPreviews a div{
	margin-bottom: 4em;
}

.blogPreviews h1{
	color: royalBlue;
	margin-bottom: 0;
}

.blogPreviews a:link, .blogPreviews a:hover, .blogPreviews a:visited, .blogPreviews a:active{
	text-decoration: none;
}

.blogPreviews a:hover h1{
	color: lightSkyBlue;
}

.blogPreview{
	margin-left: 2em;
	margin-right: 15em;
	margin-top: 1em;
}

.blogPreviews .date{
	margin: 0em 0em 0.5em 0.3em;
}


@media screen and (max-width: 1400px){
	.blogPreview{
		margin-right: 2em;
	}
}